:root {
  --brand: #082a8b;
  --brand-rgba: #082a8b80;
  --secondary: #ffec00;
  --black: #000;
}

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.1;
}

p, li {
  line-height: 1.5;
  font-size: 1.6rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 1.1rem;
}

ul li {
  position: relative;
  padding-left: 1em;
}

ul li:before {
  content: "▪";
  position: absolute;
  left: 0;
  color: var(--brand);
}

ul li ul li:before {
  color: var(--secondary);
}

.subtopics {
  color: lightgrey;
}

.subtopics li:before {
  color: lightskyblue;
}

.title h1 {
  font-size: 4.4rem;
}

.censored {
  padding: 0 .3em;
  color: var(--black);
  background-color: var(--black);
}
.censored:hover,
.censored:active {
  color: white;
}

.img-s img {
  max-width: 10rem;
}

.mt {
  margin-top: 5em;
}

.small p {
  font-size: 0.9rem;
}

.bg-contain {
  background-size: contain !important;
}

.remark-code {
  font-size: 10px;
}
